*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #EFFFFD;

}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
h1{
    margin-bottom:40px ;
    font-weight: bolder;
    
   
    
}

.template{
    filter: drop-shadow(0 0 0.75rem rgb(148, 134, 134));

padding: 15px;
text-align: center;
background-color: white;
}
img{
    width: 9rem;
    border-radius: 50%;
    filter: drop-shadow(2mm -1mm 0mm #56BBF1);
    margin: 20px;
    
}
.reviews{
    margin: 20px;
    background-color: white;
}
.btn{
    background-color: white;
}
.title{
    color: #56BBF1;
    font-size: 1.5rem;
    padding-bottom: 10px;
}
p{
    background-color: white;
}
button{
    background-color: white;
    color: #56BBF1;
    padding: 8px;
    font-size: 1.2rem;
    margin-left:2rem ;
    margin-right:2rem ;
    border: none;
    border-radius: 10px;
}
.r{
    background-color: #56BBF1;
    color: white;
}
button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}